
:root {
    --background: #090e13;
    --foreground: #181e24;
    --brand:      #43b8fc;
    --brand_dark: #1ca0f866;
    --text:       #f0f6fc;
    --text_tag:   #c2c4c6;

    --radius:        1.25rem;
    --radius_bottom: 0 0 1.25rem 1.25rem;
    --content_width: 60rem;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

::selection {
    background: var(--brand_dark);
}

*, *::before, *::after {
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

body {
    margin: 0;
    background: var(--background);
}

/*  Grid  */
.lists_row {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    justify-items: center;
    align-items: center;
}
.lists_column {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-items: center;
    align-items: center;
}

.tag {
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.7rem;

    color: var(--text_tag);
    background: color-mix(in srgb, var(--foreground) 60%, transparent);
    border-radius: var(--radius);
    box-shadow: 0 6px 6px rgba(36, 50, 62, 0.4);
}

/*  Button  */
.btn_circle {
    width: 2rem;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background: var(--foreground);

    color: var(--text);
    font-size: 20px;

    transition: background 0.2s ease;
}
.btn_circle.active {
    border: 2px solid var(--brand);
}
.btn_circle:hover {
    cursor: pointer;
    background: var(--brand);
}
.btn_circle:disabled {
    opacity: 0.25;
}

.btn_label {
    transition: color 0.2s ease;
}
.btn_label:hover {
    cursor: pointer;
    color: var(--brand);
}

/*  Text  */
h1 { color: var(--text); font-size: 2rem;     font-weight: 700; line-height: 1.2; letter-spacing: -0.02em; }
h2 { color: var(--text); font-size: 1.5rem;   font-weight: 700; line-height: 1.3; letter-spacing: -0.01em; }
h3 { color: var(--text); font-size: 1.25rem;  font-weight: 600; line-height: 1.4; }
h4 { color: var(--text); font-size: 1.125rem; font-weight: 600; line-height: 1.5; }

.text_label_ultrathick {
    color: var(--text);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.0;
}
.text_label_thick {
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 2.0;
}
.text_label {
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
}
.text_label_thin {
    color: var(--text);
    font-size: 0.7rem;
    font-weight: 400;
}
.text_label_ultrathin {
    color: var(--text);
    font-size: 0.6rem;
    font-weight: 300;
}

/*  Text Color  */
.textcolor     { color: var(--text); }
.textcolor_tag { color: var(--text_tag); }
